<div>
  <div class="page-header">
    <h3 class="no-margin disp-inline">Welcome to Happy Driver</h3>
  </div>
  <div class="instruction">
    <p>
      Happy Driver is a tool to manage all of your carpool ride information in one place. Your rides' information will be stored in a folder names "happy-driver" in your Dropbox and categorized by month of year. You can share your rides' informaiton with your passengers by sharing the folder.
    </p>
    <p>
      In order for this app to work：
      <ul>
        <li>Please make sure <strong>there is a folder named "happy-driver" in your Dropbox</strong></li>
        <li>Please <strong>enable pop-ups</strong> on
      this site. This is just so Dropbox can connect properly.</li>
      </ul>
    </p>
    <p>
      Press the "Start" button to get started!
    </p>
    <p><a class="btn-success btn btn-sm button-right" ng-href="#/explorer">Start</a></p>
  </div>
</div>
