<div class="ride-edit-in well well-lg">
  <form>
    <!--Carpool info-->
    <div>  
      <div>
        <em><u>Carpool Info:</u></em>
      </div>
      <div>
        <form action="">
          <input type="radio" name="repeated" value="non-repeated" ng-model="rideInfo.isRepeat">Non-Repeated
          <input type="radio" name="repeated" value="repeated" ng-model="rideInfo.isRepeat">Repeated
        </form>
      </div>  
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-5">
          <select id="month_start" name="month_start" ng-model="rideInfo.monthVal" class="mymargin-monthstart" required>
            <option value=''>Month</option>
            <option value='01'>Jan</option>
            <option value='02'>Feb</option>
            <option value='03'>Mar</option>
            <option value='04'>Apr</option>
            <option value='05'>May</option>
            <option value='06'>Jun</option>
            <option value='07'>Jul</option>
            <option value='08'>Aug</option>
            <option value='09'>Sep</option>
            <option value='10'>Oct</option>
            <option value='11'>Nov</option>
            <option value='12'>Dec</option>
          </select> -
          <select id="day_start" name="day_start" ng-model="rideInfo.dayVal" > 
            <option value=''>Day</option>
            <option ng-repeat="day in daysForMonth[rideInfo.monthVal]">{{day}}</option>       
          </select> -
          <select id="year_start" name="year_start" ng-model="rideInfo.yearVal" required>   
            <option value=''>Year</option>    
            <option>2015</option>       
            <option>2016</option>       
            <option>2017</option>       
            <option>2018</option> 
            <option>2019</option>      
          </select>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-7">
          <div class="col-lg-2 col-md-2 col-sm-2 col-xs-1 mymargin-monthstart no-padding" ng-show="rideInfo.isRepeat == 'repeated'">
           To
          </div>
          <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10" ng-show="rideInfo.isRepeat == 'repeated'">
            <select id="month_end" name="month_end" ng-model="rideInfo.monthValEnd" class="mymargin-monthstart">
              <option value=''>Month</option>
              <option value='01'>Jan</option>
              <option value='02'>Feb</option>
              <option value='03'>Mar</option>
              <option value='04'>Apr</option>
              <option value='05'>May</option>
              <option value='06'>Jun</option>
              <option value='07'>Jul</option>
              <option value='08'>Aug</option>
              <option value='09'>Sep</option>
              <option value='10'>Oct</option>
              <option value='11'>Nov</option>
              <option value='12'>Dec</option>
            </select> -
            <select id="day_end" name="day_end" ng-model="rideInfo.dayValEnd" > 
              <option value=''>Day</option>
              <option ng-repeat="day in daysForMonth[rideInfo.monthValEnd]">{{day}}</option>
            </select> -
            <select id="year_end" name="year_end" ng-model="rideInfo.yearValEnd">   
              <option value=''>Year</option>    
              <option>2015</option>       
              <option>2016</option>       
              <option>2017</option>       
              <option>2018</option> 
              <option>2019</option>      
            </select>
          </div>
        </div>
        <div class="row no-gutters form-group clear-float mymargin" >
          <div class="col-lg-3 col-md-3 col-sm-3 col-xs-4">
            <input ng-model="rideInfo.arrivalTime" type="text" class="form-control" placeholder="Arrival Time - 00:00" >
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-7">
            <input ng-model="rideInfo.destination" type="text" class="form-control" placeholder="Destination - (please enter your destination)">
          </div>
        </div>
      </div>
    </div>
    <!--Passenger info-->
    <div>
        <div>
            <em><u>Passenger Info:</u></em>
        </div>
        <div class="row no-gutters form-group">
          <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
            <input ng-model="rideInfo.pickUpTime1" type="text" class="form-control" placeholder="Pick-up Time">
          </div>
          <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"> 
            <input ng-model="rideInfo.passengerName1" type="text" class="form-control" placeholder="Name">
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
            <input ng-model="rideInfo.passengerAddr1" type="text" class="form-control" placeholder="Address">
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 no-padding">  
              <input ng-model="rideInfo.passengerPhoneNo1" type="text" class="form-control nopadding" placeholder="Phone No.">
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 no-padding">
              <button class="btn button-clear" ng-click="clearPassenger(0, 1)"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
            </div>              
          </div>
        </div>
        <div class="row no-gutters form-group">
          <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
            <input ng-model="rideInfo.pickUpTime2" type="text" class="form-control" placeholder="Pick-up Time">
          </div>
          <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"> 
            <input ng-model="rideInfo.passengerName2" type="text" class="form-control" placeholder="Name">
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
            <input ng-model="rideInfo.passengerAddr2" type="text" class="form-control" placeholder="Address">
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 no-padding">  
              <input ng-model="rideInfo.passengerPhoneNo2" type="text" class="form-control nopadding" placeholder="Phone No.">
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 no-padding">
              <button class="btn button-clear" ng-click="clearPassenger(0, 2)"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
            </div>              
          </div>
        </div>
        <div class="row no-gutters form-group">
          <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
            <input ng-model="rideInfo.pickUpTime3" type="text" class="form-control" placeholder="Pick-up Time">
          </div>
          <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"> 
            <input ng-model="rideInfo.passengerName3" type="text" class="form-control" placeholder="Name">
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
            <input ng-model="rideInfo.passengerAddr3" type="text" class="form-control" placeholder="Address">
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 no-padding">  
              <input ng-model="rideInfo.passengerPhoneNo3" type="text" class="form-control nopadding" placeholder="Phone No.">
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 no-padding">
              <button class="btn button-clear" ng-click="clearPassenger(0, 3)"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
              <button class="btn button-clear" ng-hide="rideInfo.hasPassenger4" ng-click="rideInfo.hasPassenger4='true'"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
            </div>              
          </div>

        </div>
        <div class="row no-gutters form-group" ng-show="rideInfo.hasPassenger4">
          <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
            <input ng-model="rideInfo.pickUpTime4" type="text" class="form-control" placeholder="Pick-up Time">
          </div>
          <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"> 
            <input ng-model="rideInfo.passengerName4" type="text" class="form-control" placeholder="Name">
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
            <input ng-model="rideInfo.passengerAddr4" type="text" class="form-control" placeholder="Address">
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 no-padding">  
              <input ng-model="rideInfo.passengerPhoneNo4" type="text" class="form-control nopadding" placeholder="Phone No.">
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 no-padding">
              <button class="btn button-clear" ng-click="clearPassenger(0, 4)"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
              <button class="btn button-clear" ng-hide="rideInfo.hasPassenger5" ng-click="rideInfo.hasPassenger5='true'"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
            </div>              
          </div>
        </div>
        <div class="row no-gutters form-group" ng-show="rideInfo.hasPassenger5">
          <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
            <input ng-model="rideInfo.pickUpTime5" type="text" class="form-control" placeholder="Pick-up Time">
          </div>
          <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"> 
            <input ng-model="rideInfo.passengerName5" type="text" class="form-control" placeholder="Name">
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
            <input ng-model="rideInfo.passengerAddr5" type="text" class="form-control" placeholder="Address">
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 no-padding">  
              <input ng-model="rideInfo.passengerPhoneNo5" type="text" class="form-control nopadding" placeholder="Phone No.">
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 no-padding">
              <button class="btn button-clear" ng-click="clearPassenger(0, 5)"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
              <button class="btn button-clear" ng-hide="rideInfo.hasPassenger6" ng-click="rideInfo.hasPassenger6='true'"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
            </div>              
          </div>
        </div>
        <div class="row no-gutters form-group" ng-show="rideInfo.hasPassenger6">
          <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
            <input ng-model="rideInfo.pickUpTime6" type="text" class="form-control" placeholder="Pick-up Time">
          </div>
          <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"> 
            <input ng-model="rideInfo.passengerName6" type="text" class="form-control" placeholder="Name">
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
            <input ng-model="rideInfo.passengerAddr6" type="text" class="form-control" placeholder="Address">
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 no-padding">  
              <input ng-model="rideInfo.passengerPhoneNo6" type="text" class="form-control nopadding" placeholder="Phone No.">
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 no-padding">
              <button class="btn button-clear" ng-click="clearPassenger(0, 6)"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
            </div>              
          </div>
        </div>          
    </div>
  </form>
  <button ng-click="cancelCreate()" class="btn btn-sm btn-default button-right">Cancel</button>
  <button ng-click="createRidePhantom()" class="btn btn-sm btn-default button-right">Submit</button>
  <div class="clear-float"></div>
</div>